# Uji Data Kelompok 9

In [87]:
options(warn=-1)
library(readxl)
data<-read_excel("D:/download/data2.xlsx")

In [89]:
data

  Kelompok 9          Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8
1 Sangat Setuju       115  20  25  24 156  23 132   0
2 Setuju              300 144 140 113 177 115 223   0
3 Ragu - Ragu          47 219 202 135  93 166  99  78
4 Tidak setuju         20  94 106 184  60 159  42   0
5 Sangat Tidak Setuju  19  24  28  45  15  38   5   0
6 Sangat Cepat          0   0   0   0   0   0   0  31
7 Cepat                 0   0   0   0   0   0   0 216
8 Pelan                 0   0   0   0   0   0   0 109
9 Sangat Pelan          0   0   0   0   0   0   0  67

# Alpha Cronbach (Reliability Analysis)
Q1 = Adanya E-Learning membuat pelajar dapat mengakses materi pelajaran dimana saja, selama terhubung dengan jaringan Internet ?

Q2 = Setelah menggunakan E-Learning, anda lebih cepat menangkap materi pembelajaran ?


Q3 = Dengan adanya E-Learning, materi - materi pembelajaran lebih mudah untuk dimengerti ?


Q4 = Terdapat banyak materi internet yang mengandung konten - konten negatif ?


Q5 = Apakah Biaya untuk mengakses internet di Indonesia mahal ?


Q6 = Dengan adanya E-learning, proses pembelajaran tidak memerlukan banyak biaya ?


Q7 = Apakah Ada materi yang tidak bisa disampaikan melalui E-learning. seperti praktek perakitan hardware ?


Q8 = Apakah akses internet di tempat asal sudah cepat ?"

In [88]:
library(psych)
alpha(data)

In factor.stats, I could not find the RMSEA upper bound . Sorry about that

Some items ( Q8 ) were negatively correlated with the total scale and
probably should be reversed.
To do this, run the function again with the 'check.keys=TRUE' option

Reliability analysis
Call: alpha(x = data)

  raw_alpha std.alpha G6(smc) average_r S/N   ase mean sd median_r
      0.86      0.86    0.96      0.43 5.9 0.062   56 55     0.54

 lower alpha upper     95% confidence boundaries
0.73 0.86 0.98

 Reliability if an item is dropped:
   raw_alpha std.alpha G6(smc) average_r  S/N alpha se var.r med.r
Q1      0.84      0.84    0.98      0.42  5.1    0.069 0.293  0.60
Q2      0.80      0.80    0.96      0.37  4.1    0.084 0.288  0.50
Q3      0.80      0.80    0.93      0.36  4.0    0.084 0.281  0.50
Q4      0.83      0.82    0.97      0.40  4.6    0.076 0.283  0.54
Q5      0.82      0.82    0.97      0.40  4.6    0.079 0.281  0.49
Q6      0.82      0.81    0.95      0.38  4.3    0.078 0.278  0.50
Q7      0.81      0.82    0.97      0.39  4.4    0.082 0.281  0.50
Q8      0.94      0.94    0.98      0.69 15.9    0.039 0.048  0.64

 Item statistics
   n raw.r std.r r.cor r.drop mean sd
Q1 9  0.76  0.73  0.74   0.63   56 99
Q2 9  0.91  0.93  0.87   0.87   56 80
Q3 9  0.92  0.94  0.95   0.89   56 75
Q4 9  0.79  0.81  0.79   0.72   56 70
Q5 9  0.83  0.82  0.83   0.77   56 71
Q6 9  0.85  0.87  0.86   0.80   56 71
Q7 9  0.87  0.85  0.87   0.81   56 80
Q8 9 -0.31 -0.29 -0.38  -0.44   56 73

# Pengujian T-test (One Sample-Test)

# Data Q1

In [70]:
t.test(data$Q1)

	One Sample t-test

data:  data$Q1
t = 1.688, df = 8, p-value = 0.1299
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 -20.38196 131.71529
sample estimates:
mean of x
 55.66667

# Data Q2

In [71]:
t.test(data$Q2)

	One Sample t-test

data:  data$Q2
t = 2.0994, df = 8, p-value = 0.069
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
  -5.477482 116.810816
sample estimates:
mean of x
 55.66667

# Data Q3

In [72]:
t.test(data$Q3)

	One Sample t-test

data:  data$Q3
t = 2.2227, df = 8, p-value = 0.05694
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
  -2.085835 113.419168
sample estimates:
mean of x
 55.66667

# Data Q4

In [73]:
t.test(data$Q4)

	One Sample t-test

data:  data$Q4
t = 2.3748, df = 8, p-value = 0.04491
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
   1.61203 109.72130
sample estimates:
mean of x
 55.66667

# Data Q5

In [74]:
t.test(data$Q5)

	One Sample t-test

data:  data$Q5
t = 2.3544, df = 8, p-value = 0.04636
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
   1.144039 110.189294
sample estimates:
mean of x
 55.66667

# Data Q6

In [75]:
t.test(data$Q6)

	One Sample t-test

data:  data$Q6
t = 2.3574, df = 8, p-value = 0.04614
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
   1.214524 110.118809
sample estimates:
mean of x
 55.66667

#  Data Q7

In [76]:
t.test(data$Q7)

	One Sample t-test

data:  data$Q7
t = 2.0946, df = 8, p-value = 0.06952
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
  -5.618644 116.951977
sample estimates:
mean of x
 55.66667

# Data Q8

In [77]:
t.test(data$Q8)

	One Sample t-test

data:  data$Q8
t = 2.2998, df = 8, p-value = 0.05048
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
  -0.1491672 111.4825005
sample estimates:
mean of x
 55.66667

# Principal Component Analysis (PCA)

In [78]:
d<-data[2:9]

pc<-princomp(d)
summary(pc)

Importance of components:
                            Comp.1     Comp.2      Comp.3      Comp.4
Standard deviation     170.4088282 93.2739788 62.10345277 27.63731899
Proportion of Variance   0.6751899  0.2022846  0.08967539  0.01775962
Cumulative Proportion    0.6751899  0.8774745  0.96714990  0.98490952
                            Comp.5       Comp.6 Comp.7 Comp.8
Standard deviation     25.36972305 2.3242064972      0      0
Proportion of Variance  0.01496488 0.0001256005      0      0
Cumulative Proportion   0.99987440 1.0000000000      1      1